---
title: swiddis.net
---
<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>

    <link rel="prefetch" href="/static/fonts/FiraMono-Regular.ttf" />
    <link rel="prefetch" href="/static/fonts/FiraSans-Regular.ttf" />
    <link rel="prefetch" href="/static/fonts/FiraSans-Italic.ttf" />
    <link rel="prefetch" href="/static/fonts/FiraSans-Bold.ttf" />
    <link rel="prefetch" href="/static/fonts/FiraSans-BoldItalic.ttf" />

    <link rel="stylesheet" href="/static/simple.css">
    {% if code %}
        <link rel="stylesheet" href="/static/prism.css">
    {% endif %}
    <meta property="og:title" content="{{ title }}" />
    {% if summary %}
        <meta property="og:description" content="{{ summary }}" />
    {% endif %}
    {% for script in custom_scripts %}
        <script type="text/javascript" src="{{ script }}"></script>
    {% endfor %}
</head>

<body>
    <header>
        <h1>swiddis.net</h1>
        <nav>
            <a href="/">Home</a>
            <a href="/about">About Me</a>
            <a href="/writing">Writing</a>
        </nav>
    </header>
    <main>
        {{ content | safe }}
    </main>
</body>

</html>
