{{ define "writing/cs_pedagogy_0.tmpl" }}
{{ template "globals/header.tmpl" .}}
<section>
	<h2>How to Learn to Code: Part 0</h2>

	<time datetime="2022-08-12">August 12, 2022</time>

	<p>
		<a href="https://xkcd.com/927/">Yes, another one.</a>
		Every professional developer has opinions on how to learn to code.
		You don't need to look far to find dozens of articles and resources on exactly that topic.
		I'll cut to the chase with what I think they're missing, and why I'm reinventing the wheel.
	</p>

	<p>
		The simple answer is that they don't cite their sources.
		Most of what they say seems to be a lightly informed opinion, or more politely stated, an educated guess.
		This is a problem in advising the learning of many fields.
		An aspiring mentor states their opinions, someone expresses doubt, and in response they say:
		"Well, it worked for me!"
		I'm guilty of this myself, in fact.
		But I've noticed over five years of mentoring people in CS
		that what worked for me is not very effective for most people.
	</p>

	<p>
		To remedy this, I decided to quiet down a little and start watching.
		I've been programming for about eight years, starting in middle school and keeping it up since.
		I've had eight years of formal schooling to watch students and teachers both come and go.
		There have been many success stories and many failures.
		Including many people who failed while trying to adhere to "what worked for me."
		I started taking notes, and doing my own research.
	</p>

	<p>
		This work is the culmination of those efforts.
		In it, I want to look at the common approaches for teaching to code.
		What I've seen work, what I've seen fail, and what I've seen fall somewhere in-between.
		But the plural for anecdote isn't data,
		so I also will be discussing some research papers in the field.
		I'll share interviews with some people who I would consider having "learned to code,"
		and also go into some detail on what it actually means to know how to code.
	</p>

	<p>
		By the end, I want this to be a resource for both students and teachers.
		An authoritative guide on how to learn&mdash;and teach&mdash;to code.
	</p>
</section>
{{ template "globals/footer.tmpl" .}}
{{ end }}