{{ define "writing/programming_books.tmpl" }}
{{ template "globals/header.tmpl" .}}
<section>
    <h2>Five(ish) Books For All Programmers</h2>
    <time datetime="2022-08-13">August 13, 2022</time>
    <p>
        This one is from a friend:
        &quot;What are five books (not necessarily computer science) that <i>all</i> aspiring programmers should
        be sure to read?&quot;
        I thought it was an interesting question, so I wrote a bit on it.
        Here's what I wrote.
    </p>
    <p>
        First of all, you need to be able to think like a programmer.
        That means not being afraid of technical details.
        Our (United States) society tends to hard-code people to be afraid of technical details with how poorly
        it's handled in school.
        I argue that dissuading that fear ASAP is critical to make sure they don't run from it when it
        inevitably comes up in programming.
        Thus:
    </p>
    <ul>
        <li>
            <i><a href="https://www.maa.org/external_archive/devlin/LockhartsLament.pdf">
                    A Mathematician's Lament</a></i>.
            Read it twice for good measure.
            It's focused on mathematics specifically, but the argument applies to programming and plenty of
            other technical subjects.
        </li>
    </ul>
    <p>
        Next, how to be a good programmer.
    </p>
    <ul>
        <li>
            <i><a href="https://pragprog.com/titles/tpp20/">
                    The Pragmatic Programmer</a></i>
            is a collection of good ideas with regard to philosophies, principles, and technical details.
            I think reading this book is what took me from good coder to good developer.
            It also doesn't need to be read linearly, it's a great reference.
        </li>
    </ul>
    <aside>
        <p>
            Normally I don't bat an eye to piracy; however,
            if I catch any of you not paying the authors for these literally career-changing books,
            there will be blood.
        </p>
    </aside>
    <p>
        The next two are about bad code.
        Unfortunately, not all code in the world is good code.
        There are some very senior developers making very critical mistakes.
        You need to be able to identify things that have gone wrong,
        and how to move things in a proper direction.
    </p>
    <ul>
        <li>
            <i><a href="https://www.amazon.com/Working-Effectively-Legacy-Michael-Feathers/dp/0131177052">
                    Working Effectively with Legacy Code</a></i>
            is about the technical stuff: the grimy, messy code.
            It goes into how to reverse bad mistakes and move a codebase in a better direction.
            Before I'd read this book, production legacy code had literally brought me to tears on two separate
            occasions.
            Now I'm much more equipped to handle such situations.
        </li>
        <li>
            <i><a href="https://itrevolution.com/the-phoenix-project/">
                    The Phoenix Project</a></i>,
            more often seen in DevOps circles,
            is more about teams and processes than the code itself.
            This is about ideological mistakes you see in projects,
            and how to recover from a situation that might seem utterly hopeless.
            It's a primer for DevOps, which is pretty helpful overall.
            It also is the only book on this list that reads like a novel.
        </li>
    </ul>
    <p>
        These 4 books lay the foundations for how to be a good programmer philosophically,
        with plenty of good nuggets of technical ideas.
        You should be comfortable with a decent chunk of professional development once you've read and
        understood them.
        All that's really left is technical details. The answer for that I think is
        &quot;The most commonly recommended book in your field of choice.&quot;
    </p>
    <ul>
        <li>
            In the general case, for beginners or people who haven't picked a field, that book is
            <i><a href="https://www.amazon.com/Clean-Code-Handbook-Software-Craftsmanship/dp/0132350882">
                    Clean Code</a></i>.
            For beginners it's better to read this second (after Lockhart's Lament).
            It's considerably more technical than the other books on this list,
            getting much more into the code itself.
            It teaches exactly what it says on the cover.
        </li>
        <li>
            In my specific case, the book is
            <i><a href="https://dataintensive.net/">
                    Designing Data-Intensive Applications</a></i>.
            This is a nice primer for general systems design,
            and lays a solid foundation to get more into distributed systems engineering.
        </li>
        <li>
            If you want to get into any particular field,
            I would do some research on the commonly recommended books and insert the top one here.
        </li>
    </ul>
</section>
{{ template "globals/footer.tmpl" .}}
{{ end }}