<!DOCTYPE html>
<html lang="en-us">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>etoast.me</title>
	<link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
</head>

<body>
	<header>
		<h1>etoast.me</h1>
		<nav>
			<a href="/">Home</a>
			<a href="/about.html">About Me</a>
			<a href="/writing.html">Writing</a>
		</nav>
	</header>
	
	<main>
		<h2>Content</h2>
    	<p>Lorem ipsum dolor it amet whatever else you put here.</p>
	</main>
</body>

</html>