{{ define "root/about.tmpl" }}
{{ template "globals/header.tmpl" .}}
<section>
    <h2>About Me</h2>
    <p>
        Hi, I'm Simeon Widdis (they/them), also known as ExaltedToast, and I'm a distributed systems engineer at
        AWS.
        My hobby is thinking about things, such as:
    </p>
    <ul>
        <li>Algorithms</li>
        <li>Baduk</li>
        <li>Literature</li>
        <li>Mathematics</li>
        <li>Pedagogy</li>
        <li>Philosophy</li>
        <li>Software</li>
    </ul>
    <p>
        Sometimes, I put those thoughts down in text.
    </p>
    <p>
        If you want to chat in text, either
        <a href="mailto:sawiddis@gmail.com">email me</a>
        or join <code>##hackslash</code> on
        <a href="https://libera.chat/">Libera</a>.
    </p>
</section>
<section>
    <h2>Why this site?</h2>
    <p>
        In <i>The Pragmatic Programmer</i>, David Thomas and Andy Hunt argue that &quot;Don't Repeat
        Yourself&quot; isn't about code.
        It's about life.
        As a mentor, I've noticed that I repeat myself quite often on various subjects.
        I wanted a place to deposit some of the ideas that come up a bunch, so I could just link it and call it
        good.
        This site is an evolving repository where I share whatever I feel like.
    </p>
    <p>
        My operating rule of thumb is that if I feel like saying it thrice,
        it's important enough to make public.
    </p>
    <p>
        Also, I just happened to have a spare server lying around.
        May as well make a website with it.
    </p>
    <h3>What about the other platforms?</h3>
    <p>
        If you're asking this, you're probably thinking of that time I wrote daily posts on LinkedIn.
        Or alternatively of my other website.
        The short answer is I didn't feel like continuing either, they weren't me.
        I wasn't branding them in my style.
        Rebranding like this is much more my style, and I feel happier this way.
    </p>
    <h3>How did you make it?</h3>
    <p>
        The pages themselves are just hand-written in HTML, with help from
        <a href="https://simplecss.org/">Simple.css</a>.
        The web server is written in Go, using the
        <a href="https://github.com/gin-gonic/gin">Gin Web Framework</a>.
        Deployment is done through
        <a href="https://www.docker.com/">Docker</a>
        with some additional routing by
        <a href="http://nginx.org/">Nginx</a>.
    </p>
</section>
<section>
    <h2>Resources</h2>
    <p>
        There are a few resources that have been greatly influential to me.
        Hopefully some of them can help you out too.
        I also put quite a bit of information in my writing, see the <code>Learning</code> section.
    </p>
    <ul>
        <li>
            <a href="https://www.reddit.com/r/NonZeroDay/comments/1qbxvz">
                No More Zero Days</a>
            is what got me started on being more than someone who plays games all day.
        </li>
        <li>
            <a href="https://www.maa.org/external_archive/devlin/LockhartsLament.pdf">
                A Mathematician's Lament</a>
            and
            <a href="https://www.youtube.com/c/3blue1brown">
                3blue1brown</a>
            are the sole resources that got me started on pursuing STEM as a career.
        </li>
        <li>
            <a href="https://projecteuler.net/">
                Project Euler</a>
            is the site that taught me most of what I know about algorithms.
        </li>
        <li>
            <a href="https://pragprog.com/titles/tpp20/">
                The Pragmatic Programmer</a>
            is a book that I feel helped me transition from programmer to software engineer.
        </li>
        <li>
            <a href="https://www.amazon.com/Working-Effectively-Legacy-Michael-Feathers/dp/0131177052">
                Working Effectively with Legacy Code</a>
            has solidifed a solid amount of my current opinions on clean code and unit testing.
        </li>
        <li>
            <a href="https://dataintensive.net/">
                Designing Data-Intensive Applications</a>
            is another career-defining book for me.
        </li>
        <li>
            <a href="https://www.youtube.com/channel/UCbvDQKzAJ5GwCjTrv4FWkxg">
                Jordan has no life</a>
            is a fantastic Youtube channel if you want a primer on the stuff I do for a living.
        </li>
        <li>
            <a href="http://www.catb.org/~esr/faqs/smart-questions.html">
                How To Ask Questions The Smart Way</a>
        </li>
        <li>
            <a href="http://www.catb.org/~esr/faqs/hacker-howto.html">
                How To Become A Hacker</a>
        </li>
    </ul>
</section>
<section>
    <h2>Socials</h2>
    <p>
        Finally, here's some more socials.
        The rest of my personal social media is private.
        This is intentional.
        Don't go looking.
    </p>
    <ul>
        <li><a href="https://github.com/Swiddis">GitHub</a></li>
        <li><a href="https://www.linkedin.com/in/simeon-widdis/">LinkedIn</a></li>
    </ul>
</section>
{{ template "globals/footer.tmpl" .}}
{{ end }}