{{ define "root/writing.tmpl" }}
{{ template "globals/header.tmpl" .}}
<section>
    <h2>Writing</h2>
    <p>
        This is my little writing repository for blethering about miscellanious topics.
        Most of these are living documents that I intend to update over time as my thoughts change.
        Keep this in mind if citing any of this.
    </p>
</section>
<section>
    <h2>Learning</h2>
    <ul>
        <li>
            <a href="/writing/programming_books">Five(ish) Books For All Programmers</a>
        </li>
        <li>
            <a href="/writing/cs_pedagogy_0">How to Learn to Code: Part 0</a>
        </li>
    </ul>
</section>
{{ template "globals/footer.tmpl" .}}
{{ end }}